<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ndtvimg.com/i/2015-09/chilli-chicken-625_625x350_41441399214.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Sweet and sour pork</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€12 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.learnasia.org/uploads/6/9/0/8/69084411/947252_orig.jpeg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Peking duck</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€20 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/150203150151-chinese-food-spicy-crayfish-super-169.jpg
" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Crawfish</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€15 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>

 



  </div>


  <div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.kingchefphoenixville.com/images/banner03.jpg">
      <div class="caption">
        <h3>fried rice</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€8 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://oeimg1.cache.oeeee.com/201311/20/528c61419260e.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Hotpot</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€20 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <img src="http://s2.cdn.xiachufang.com/e391c41c890111e6a9a10242ac110002_1000w_663h.jpg?imageView2/2/w/620/interlace/1/q/90" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Noodle</h3>
        
        <p>
        <div class="clearfix">
       <div class="foodprice">€5 </div>
        <a href="#" class="btn btn-primary pull-right" role="button">Button</a> 
      </div>
    </div>
  </div>
  </div>

 



  </div>

</div>

</div>